#title {
    background-image: linear-gradient(to right, rgb(42, 138, 218) , rgb(9, 41, 102));
  }

#hidden {
  display: none;
}


#forecastcard {
  background-color: rgb(9, 41, 102);
  margin-left: 5px;
}

#forecastcontainer {
  font-size: 11px;
}